/* Navbar */
#navbar {
  width: 100%;
}

.navbar {
  position: sticky;
  top: 0;
  background: rgba(17, 17, 17, 0.2);
  color: white;
  z-index: 1000;
  border-radius: 20px;
  border-color: rgba(255, 255, 255, 1);
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  margin: auto 0px;
}

.logo {
  font-size: 18px;
  font-weight: bold;
}
/* Links */
.nav-links {
  display: flex;
  align-items: center;
  gap: 15px;
}

.nav-links a {
  color: white;
  text-decoration: none;
}

/* Burger */
.burger {
  display: none;
  font-size: 22px;
  cursor: pointer;
  border: 0;
  background: transparent;
  color: inherit;
  padding: 4px 8px;
}

/* Dropdown langue */
.lang-dropdown {
  position: relative;
}

#langBtn {
  background: none;
  /* border: 1px solid white; */
  color: white;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
  border-style: dotted;
  border-color: rgba(255, 255, 255, 0.5);
}

body.light-mode #langBtn {
  color: #111;
  border-color: rgba(17, 17, 17, 0.5);
}

body.dark-mode #langBtn {
  color: white;
}

#langMenu {
  position: absolute;
  right: 0;
  background: white;
  color: black;
  list-style: none;
  padding: 0;
  margin: 5px 0 0;
  display: none;
  min-width: 150px;
}

body.light-mode #langMenu {
  background: white;
  color: #111;
}

body.dark-mode #langMenu {
  background: #111;
  color: white;
}

#langMenu li {
  padding: 10px;
  cursor: pointer;
}

#langMenu li:hover {
  background: #eee;
}

/* Responsive */
@media (max-width: 768px) {
  .nav-links {
    position: absolute;
    top: 60px;
    right: 0;
    background-color: rgba(255, 255, 255, 0.55);
    flex-direction: column;
    width: 200px;
    display: none;
  }

  body.dark-mode .nav-links {
    background-color: rgba(17, 17, 17, 0.75);
  }

  .nav-links.active {
    display: flex;
  }

  .burger {
    display: block;
  }
}

a.active {
  background: purple;
  padding: 3px 5px;
  font-weight: bold;
  border-radius: 4px;
}